@font-face {
  font-family: "font-1";
  src: url(../font/Inter/Inter-VariableFont_slnt,wght.ttf);
}
div.root{
  position: absolute;
  top: 0;
  left: 0;
}
body{
  font-family:  font-1, serif;
  font-style: normal;
}
li {
  list-style: none;
}
a{
  text-decoration: none;
  color: #008037;
}

.nav-active{
  text-decoration: underline;
}
nav{
  text-decoration: none;
}

h1{
  color: #008037;
  -webkit-text-stroke: 0.1px black;
  font-weight: 700;
  font-size: 50px;
  line-height: 121px;

  text-align: center;

}

section{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}