@media screen and (min-width: 650px){
  section.parcours{
    h1{

      line-height: 0px;
    }

    background-color: #282828;

    div.container-photo{
      img{
        width: 30%;
        height: 100vmin;
        border-radius: 375px;
        float: right;

      }
    }

    div.container-parcours{
      //margin-left: 10%;
      margin-top: 10%;
      .timeline {
        //margin: 30px;
        position: relative;
        li {
          display: flex;
          line-height: 1;
        }
      }

      .timeline--date {
        flex: 0 0 150px;
        color: #999;
        font-size: 90%;
        text-align: right;
        margin-right: 50px;
      }

      .timeline--circle {
        flex: 0 0 50px;
        position: relative;
        text-align: center;

        /*For vertical line*/
        &:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 2px;
          background: #222;
          margin: auto;
          right: 0;
          left: 0;
          z-index: 2;
        }
        i {
          transition: all 0.4s ease-in-out;
          position: relative;
          display: inline-block;
          background: #222;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          boz-sizing: border-box;
          z-index: 3;
        }
      }

      .timeline--description {
        margin-left: 50px;
        padding-bottom: 100px;
      }

      /*For the first timeline item*/
      .timeline li:first-child {
        .timeline--date,
        .timeline--description {
          margin-top: 15px;
        }
        .timeline--circle {
          &:before {
            margin-top: 15px;
          }

          &:after {
            content: "";
            background: transparent;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            border: 2px solid #e9e9e9;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 50%;
            z-index: 1;
          }
        }
        i {
          background: transparent;
          width: 40px;
          height: 40px;

          &:after {
            content: '';
            background: #008037;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }


      /*Now let us start do the hover effects*/
      .timeline li:hover {

        .timeline--date {
          color: #555;
        }

        .timeline--circle {
          i {
            transform: scale(4);
          }
        }

        .timeline--description {
          color: #008037;
        }

      }

      .timeline li:first-child:hover .timeline--circle {
        i{
          transform: none;
          background: #222;

        }
        &:after {
          border-color: #222;
        }
      }
    }
  }
}

@media screen and (max-width: 650px){

  section.parcours{

    background-color: #282828;
    height: 111%;

    div.container-photo{
      display: none;
    }

    div.container-parcours{
      //margin-left: 10%;
      margin-top: 20%;
      .timeline {
        //margin: 30px;
        position: relative;
        li {
          display: flex;
          line-height: 1;
        }
      }

      .timeline--date {
        margin-left: 10%;
        color: #999;
        font-size: 90%;
        text-align: right;
        margin-right: 50px;
      }

      .timeline--circle {
        flex: 0 0 50px;
        position: relative;
        text-align: center;

        /*For vertical line*/
        &:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 2px;
          background: #222;
          margin: auto;
          right: 0;
          left: 0;
          z-index: 2;
        }
        i {
          transition: all 0.4s ease-in-out;
          position: relative;
          display: inline-block;
          background: #222;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          boz-sizing: border-box;
          z-index: 3;
        }
      }

      .timeline--description {
        margin-left: 50px;
        padding-bottom: 100px;
      }

      /*For the first timeline item*/
      .timeline li:first-child {
        .timeline--date,
        .timeline--description {
          margin-top: 15px;
        }
        .timeline--circle {
          &:before {
            margin-top: 15px;
          }

          &:after {
            content: "";
            background: transparent;
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            border: 2px solid #e9e9e9;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            border-radius: 50%;
            z-index: 1;
          }
        }
        i {
          background: transparent;
          width: 40px;
          height: 40px;

          &:after {
            content: '';
            background: #008037;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }


      /*Now let us start do the hover effects*/
      .timeline li:hover {

        .timeline--date {
          color: #555;
        }

        .timeline--circle {
          i {
            transform: scale(4);
          }
        }

        .timeline--description {
          color: #008037;
        }

      }

      .timeline li:first-child:hover .timeline--circle {
        i{
          transform: none;
          background: #222;

        }
        &:after {
          border-color: #222;
        }
      }
    }
  }

}
